@{
    string Domain = string.Format("{0}://{1}/chat/", Context.Request.Scheme, Context.Request.Host);
}

<!DOCTYPE html>
<html>
<head>
    <partial name="Seo" />
    @RenderSection("SEO", false)
    <partial name="Styles" />
    @RenderSection("Styles", false)
</head>

<body>
    <header>
        <partial name="Navbar" />
    </header>

    <partial name="Sidenav" />

    <main class="main">
        @RenderBody()
    </main>

    <footer>
        <partial name="Footer" />
    </footer>

    <partial name="TryModal" model="@Domain" />

    <partial name="Scripts" />
    @RenderSection("Scripts", false)

    <script>
        var Domain = "@Domain";
    </script>

    <partial name="StatusMessage" />
</body>
</html>
