@page "/register/{handler?}"
@using MVCBlazorChatApp.Server.Models
@model MVCBlazorChatApp.Server.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewBag.Title = "User registration";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

<div class="wide-wrapper wide-wrapper--row">
    <div class="alert warning">
        <p>
            This section is not available yet.
        </p>
    </div>
    <div class="large-content-card register-portal">
        <div class="content-card-banner">
            <img src="~/media/imgassets/card-banner.jpg" alt="Register banner" />
            <div class="overlay">
                <h1>Zen Chat<br />User Registration</h1>
                <p>Register an account to save your chat history<br /> and gain more features.</p>
            </div>
        </div>
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="FormBeforeSubmit" data-ajax-success="FormAfterSubmit" data-ajax-failure="FormAfterSubmit">
            <h2>Register</h2>
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column input-wrapper--text">
                    <div class="input">
                        <label asp-for="@Model.RegisterDTO.Username" class="icon"><i class="las la-user"></i></label>
                        <input type="text" asp-for="@Model.RegisterDTO.Username" placeholder="Username" />
                    </div>
                </div>
                <span asp-validation-for="@Model.RegisterDTO.Username"></span>
            </div>
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column input-wrapper--text">
                    <div class="input">
                        <label asp-for="@Model.RegisterDTO.Email" class="icon"><i class="las la-envelope"></i></label>
                        <input type="email" asp-for="@Model.RegisterDTO.Email" placeholder="Email address" />
                    </div>
                </div>
                <span asp-validation-for="@Model.RegisterDTO.Email"></span>
            </div>
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column input-wrapper--text">
                    <div class="input">
                        <label asp-for="@Model.RegisterDTO.Password" class="icon"><i class="las la-key"></i></label>
                        <input type="password" asp-for="@Model.RegisterDTO.Password" placeholder="Password" />
                    </div>
                </div>
                <span asp-validation-for="@Model.RegisterDTO.Password"></span>
            </div>
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column input-wrapper--text">
                    <div class="input">
                        <label asp-for="@Model.RegisterDTO.Gender" class="icon"><i class="las la-circle"></i></label>
                        <select asp-for="@Model.RegisterDTO.Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                            <option value="" selected disabled>Select an option</option>
                        </select>
                    </div>
                </div>
                <span asp-validation-for="@Model.RegisterDTO.Gender"></span>
            </div>
            <div class="input-wrapper input-wrapper--row justify-content-between">
                <div class="flex-row flex-1">
                    <label asp-for="@Model.RegisterDTO.PrivacyPolicy"></label>
                    <input type="checkbox" asp-for="@Model.RegisterDTO.PrivacyPolicy" />
                    <span asp-validation-for="@Model.RegisterDTO.PrivacyPolicy"></span>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>