@page "/chat/{Room}"
@using Microsoft.AspNetCore.Authorization
@using System.Net
@attribute [AllowAnonymous]

<div class="@UIMode" id="client-main">
    <NavSection @ref="@NavSection" DarkModeToggleCallback="@ToggleDarkMode" />
    <ChatSection @ref="@ChatSection" UIMode="@UIMode" Room="@Room" />
    <UserSection Room="@Room" Username="@Username" UIMode="@UIMode" />
    <NotificationBanner />
</div>

@if (!UsernameSet)
{
    <UsernamePrompt @ref="@UsernamePrompt" IndexCallback="@SetUsername" UIMode="@UIMode" />
}

@code {
    [Parameter] public string Room { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    private UsernamePrompt UsernamePrompt { get; set; }
    private string Username { get; set; }
    private string UIMode { get; set; } = "W-Mode";
    private ChatSection ChatSection { get; set; }
    private NavSection NavSection { get; set; }
    private bool UsernameSet { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Room = WebUtility.HtmlEncode(Room);
            await JSRuntime.InvokeVoidAsync("SetTitle", $"Zen Chat - {Room}");

            UsernamePrompt.Show();
        }
    }

    public async Task SetUsername(string Username)
    {
        this.Username = Username;
        await ChatSection.StartService(Username);
        UsernameSet = true;
        StateHasChanged();
    }

    public void ToggleDarkMode(object Source)
    {
        UIMode = UIMode == "W-Mode" ? "D-Mode" : "W-Mode";

        StateHasChanged();
    }
}