@page "/chat/{Room}"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<div class="@UIMode" id="client-main">
    <NavSection DarkModeToggleCallback="@ToggleDarkMode" />
    <ChatSection UIMode="@UIMode" Username="@Username" />
    <UserSection Room="@Room" Username="@Username" UIMode="@UIMode" />
</div>

<UsernamePrompt @ref="@UsernamePrompt" IndexCallback="@SetUsername" />

@code {
    [Parameter] public string Room { get; set; }
    private UsernamePrompt UsernamePrompt { get; set; }
    private string Username { get; set; }
    private string UIMode { get; set; } = "W-Mode";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            UsernamePrompt.Show();
        }
    }

    public void SetUsername(string Username)
    {
        this.Username = Username;
    }

    public void ToggleDarkMode(object arg)
    {
        UIMode = UIMode == "W-Mode" ? "D-Mode" : "W-Mode";

        StateHasChanged();
    }

}