@using MVCBlazorChatApp.Client.Models

<div class="@PromptState" id="UsernamePrompt">
    <div id="Prompt">
        Enter your name
        <EditForm EditContext="@editContext" OnValidSubmit="@ValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column input-wrapper--text">
                    <div class="input">
                        <label class="icon"><i class="las la-user"></i></label>
                        <InputText type="text" @bind-Value="@UserModel.Username" placeholder="Name" />
                    </div>
                </div>
                <ValidationMessage For="@(() => UserModel.Username)" />
            </div>
            <div class="btn-group">
                <a href="/">Cancel</a>
                <button type="submit">Submit</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter] public EventCallback<string> IndexCallback { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    private string PromptState { get; set; } = "d-none";
    private UserModel UserModel { get; set; } = new UserModel();
    private EditContext editContext;
    protected override void OnInitialized()
    {
        editContext = new EditContext(UserModel);
    }
    public void Show()
    {
        PromptState = "";
        StateHasChanged();
    }

    public async Task Close()
    {
        PromptState = "d-none";
        StateHasChanged();
        await IndexCallback.InvokeAsync(UserModel.Username);
    }

    public async Task ValidSubmit()
    {
        await Close();
    }
}