@implements IAsyncDisposable

<div id="UserSection">
    <div id="UserHeader">
        <i class="las la-comments"></i>
        <p title="@Room">@Room</p>
    </div>
    <div id="UserContent">
        <h2 title="@Username">@Username</h2>
        <div id="Users">
            <h3>Users</h3>
            <ul id="UserList">
            </ul>
        </div>
    </div>
    <div id="UserFooter">
        All rights reserved. Z-Chat © @DateTime.Today.Year
    </div>
</div>

@code {
    [Parameter] public string Room { get; set; }
    [Parameter] public string Username { get; set; }
    [Parameter] public string UIMode { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (UIMode == "W-Mode")
        {
            await JSRuntime.InvokeVoidAsync("InitializeOS", "UserContent", "os-theme-dark", "user");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("InitializeOS", "UserContent", "os-theme-light", "user");
        }
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("DestroyOS");
    }
}